.header{
    display: flex;
    flex-direction: column;
    gap: 74px;
    width: 100%;
    align-items: center;
    padding-top: 24px;
}

.logo{
    width: 187px;
}

.navigation-panel{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.navigation-panel__logo{
    flex-grow: 2;
    display: flex;
    justify-content: center;
}

.navigation-panel__links{
    flex-grow: 3;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.text{
    color: #272F3A;
    font-size: 18px;
    text-align: center;
    font-family: 'Euclid Circular B', sans-serif;
    font-weight: lighter;
    margin-top: 2%;
}

.heading{
    color: #002B6B;
    font-size: 72px;
    letter-spacing: 5%;
    text-align: center;
    font-family: 'Montserrat Light', sans-serif;
    font-weight: lighter;
    margin-top: 2%;
    margin-bottom: 1%;
}

.img{
    width: 20%;
    height: 20%;
    border-radius: 4%;
    margin-top: 5%;
}

.container2 {
    display: flex;
    flex-direction: column;
}

.container3{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: space-evenly;
    flex-wrap: wrap;
    gap: 5%;
}