@font-face {
    font-family: 'Golos UI';
    src: url('fonts/GolosUI-Regular.woff2') format('woff2'),
         url('fonts/GolosUI-Regular.woff') format('woff');
}

.buttons {
    width: 40px;
    height: 40px;
}

.avatar {
    width: 132px;
    height: 132px;
}

.name {
    color: #222222;
    font-size: 32px;
    font-weight: bold;
    font-family: 'Golos UI', Arial, sans-serif;
}

.post-img {
    width: 322,25px;
    height: 322,25px;
}

.bio  {
    color: #222222;
    font-size: 15px;
    font-family: 'Golos UI', Arial, sans-serif;
}