.header{
    display: flex;
    flex-direction: column;
    gap: 74px;
    width: 100%;
    align-items: center;
    padding-top: 24px;
}

.infotech{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.text{
    color: #493a41;
    font-size: 32px;
    text-align: center;
    font-family: 'Euclid Circular B', sans-serif;
    font-weight: lighter;
    margin-top: 2%;
}

.heading{
    color: #270418;
    font-size: 72px;
    letter-spacing: 5%;
    text-align: center;
    font-family: 'Montserrat Light', sans-serif;
    font-weight: lighter;
    margin-top: 2%;
    margin-bottom: 1%;
}

.img{
    width: 600px;
    border-radius: 4%;
    margin-top: 5%;
}

.container1 {
    display: flex;
    flex-direction: column;
}

.container2{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: space-evenly;
    flex-wrap: wrap;
    gap: 5%;
}